.top {
    width: 100%;
    height: 100vh;
    margin-bottom: 5em;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(/images/dentist-with-tweezers-and-mirror-standing-near-patient-in-3952016.jpg);
    background-position: center;
    background-attachment: fixed;
    .nav-bar {
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        //align-items: center;
        background-color: $light;
        box-shadow: 2px 0 5px $shadow;
        transition: all 0.2s;
        z-index: 999;
        .nav-wrap {
            position: relative;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            .logo {
                a{
                    color: $dark;
                    font-size: 1.5em;
                    span {
                        color: $main-bl;
                    }
                }
                @media screen and (min-width: 1024px) {
                    width: 15%;
                }
            }
            .menu {
                position: fixed;
                top: 10vh;
                right: 0;
                width: 50vw;
                height: 50vh;
                background-color: $main-bl;
                list-style: none;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: space-evenly;
                transform: translateX(50vw);
                transition: all 0.4s;
                overflow-x: hidden;
                z-index: 9;
                @media screen and (min-width: 1024px) {
                    position: initial;
                    width: 50%;
                    height: initial;
                    flex-flow: row nowrap;
                    transform: unset;
                    background-color: transparent;
                }
                .menu-link {
                    a {
                        color: $light-txt;
                        padding: 15px 50px;
                        @media screen and (min-width: 1024px) {
                            font-weight: bold;
                            color: $sec-dark;
                            padding: 0;
                            border-bottom: 2px solid transparent;
                            transition: all 0.3s;
                            &:hover {
                                border-bottom: 2px solid $light-bl;
                                color: $light-bl;
                            }
                        }
                    }
                }
            }
            .menu-open {
                transform: translateX(0);
            }
            .social-menu {
                display: flex;
                margin-right: 15%;
                @media screen and (min-width: 1024px) {
                    width: 15%;
                    margin: 0;
                    justify-content: flex-end;
                }
                a {
                    width: 2em;
                    height: 2em;
                    color: $main-bl;
                    border: 1.5px solid transparent;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 3px;
                    transition: all 0.3s;
                    &:hover {
                        color: $light-txt;
                        background-color: $main-bl;
                    }
                    @media screen and (min-width: 1024px) {
                        font-size: 1.2em;
                    }
                }
            }
            .menu-icon {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                cursor: pointer;
                padding: 5px;
                @media screen and (min-width: 1024px) {
                    display: none;
                }
                .line {
                    width: 25px;
                    height: 3px;
                    background-color: $dark;
                    margin: 5px 0;
                }
            }
        }
    }
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        height: 9vh;
    }
    .slider {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        .slide {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
            .banner {
                position: absolute;
                width: 80%;
                top: 50%;
                left: 5%;
                transform: translateY(-50%);
                @media screen and (min-width: 1024px) {
                    width: 50%;
                }
                h1 {
                    font-size: 3em;
                    span {
                        color: $main-bl;
                    }
                }
                p {
                    font-size: $small;
                }
            }
            &:first-child {
                background: url('/images/dentist-with-tweezers-and-mirror-standing-near-patient-in-3952016.jpg') no-repeat center center/cover;
            }
            &:nth-child(2) {
                background: url('/images/man.jpg') no-repeat center top/cover;
            }
            &:nth-child(3) {
                background: url('/images/smile.jpg') no-repeat center top/cover;
            }
        }
        .slide.current {
            opacity: 1;
        }
    }
    .buttons {
        #prev {
            position: absolute;
            top: 85%;
            left: 15px;
        }
        #next {
            position: absolute;
            top: 85%;
            right: 15px;
        }
        #next, #prev {
            border: 2px solid rgba($dark, 0.6);
            background-color: transparent;
            color: $dark;
            cursor: pointer;
            padding: 9px 15px;
            border-radius: 50%;
            outline: none;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: rgba(255,255,255,0.6);
                color: #333;
            }
        }
        @media screen and (min-width: 1024px) {
            #prev {
                position: absolute;
                top: 60%;
                left: 15px;
            }
            #next {
                position: absolute;
                top: 60%;
                right: 15px;
            }
            #next, #prev {
                border: 2px solid rgba($dark, 0.6);
                background-color: transparent;
                color: $dark;
                cursor: pointer;
                padding: 9px 15px;
                border-radius: 50%;
                outline: none;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: rgba(255,255,255,0.6);
                    color: #333;
                }
            }
        }
    }
}